@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");
@import "colors";

@mixin base-font {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: $black;
}

@mixin primary-header-font {
    font-weight: 300;
    font-size: 1.5rem;
}

@mixin secondary-header-font {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.25rem;
}

@mixin button-font {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

@mixin text-input-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

@mixin label-font {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}